


/* logo design  */
.navbar-brand{
    padding-left: 10px;
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

/* menu item diviser 
.menu-item {
    margin-left: 70%;
}*/

.nav-item{
    padding: 1.5rem;
}
/* title background color */
#title{
    background-image:url(../images/image5.jpg);
    padding-bottom: 30%;
    
}

/* footer section */
.page-footer{
    background-color: #17202A;
    padding: 5%;
    position: relative;
}

