<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>LMS | sign in</title>

    <style>
        body {
            background-image: url('../assets/images/bus1-1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            /* color: #cccccc; */
        }
        
        .card {
            background-color: transparent;
            margin-top: 10%;
            border: none;
        }
        
        input {
            opacity: 0.8;
        }
    </style>

</head>

<body>

    <div class="container d-flex text-center">
        <div class="card w-50 mx-auto p-5">
            <h2 class="card-title m-lg-auto">Sign In</h2>

            <form action="" method="POST">
                <div class="form-group">
                    <div class="card-body mt-3">
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="example@mail.com" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="password123" required>
                        </div><br>

                        <button type="submit" value="submit" class="btn btn-primary" class="">Sign In</button><br>
                        <p>Don't have an account? Sign up <a href="sign-up.html">here.</a></p>
                    </div>
                </div>
            </form>

        </div>
    </div>


    <!-- Rufaro note: Javascript CDN includes start here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>